  body {
      font-family: 'Roboto', sans-serif;
      margin: 0;
      padding: 0;
      scroll-behavior: smooth;
      background-color: #121212;

      color: #e0e0e0;

      line-height: 1.6;
  }

  header {
      position: sticky;
      top: 0;
      background-color: #20232a;
      color: #61dafb;
      padding: 15px 20px;
      z-index: 1000;
      text-align: center;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
      animation: header 5s ease infinite;
    }
    
    @keyframes header {
    from {
    
            background: linear-gradient(135deg, #20232a, #111b72);
        }
    
        to {
            background: linear-gradient(135deg, #111b72, #20232a);
        }
    
    }
  header h1 {
      margin: 0;
      font-size: 2rem;
  }

  nav {
      display: flex;
      justify-content: center;
      gap: 20px;
      margin-top: 10px;
  }

  nav a {
      color: #61dafb;
      text-decoration: none;
      font-weight: 500;
      padding: 8px 16px;
      border-radius: 20px;
      transition: background-color 0.3s ease, transform 0.3s ease;
  }

  nav a:hover {
      background-color: #282c34;
      transform: scale(1.05);
  }

  .intro-section {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #282c34;
      color: white;
      padding: 60px 20px;
      text-align: center;
      border-bottom: 4px solid #61dafb;
  }

  .intro-img {
      width: 150px;
      height: auto;
      margin-right: 20px;
      border-radius: 50%;
      animation: fadeIn 1s ease-in-out;
      border: 4px solid #ffffff;
  }

  .intro-section h1 {
      font-size: 2.2rem;
      margin: 0;
  }

  .intro-section h4 {
      font-size: 1.2rem;
      margin-top: 10px;
  }

  .education-container {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px;
  }

  .education-card {
      background-color: #1e1e1e;

      padding: 20px;
      border-radius: 12px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      margin-bottom: 30px;
      width: 90%;
      max-width: 800px;
      position: relative;
      text-align: center;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      border-left: 5px solid #1a1a73;

  }

  .education-card:hover {
      transform: translateY(-5px);

      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);

  }

  .education-card h3 {
      font-size: 2rem;

      margin-bottom: 10px;
      color: #1a1a73;

      text-transform: uppercase;

  }

  .education-card p {
      font-size: 1rem;
      margin: 10px 0;
      line-height: 1.5;

      color: #e0e0e0;

  }

  .education-card ul {
      list-style: none;
      padding: 0;
      margin: 10px 0;
  }

  .education-card ul li {
      font-size: 1rem;
      margin: 5px 0;
  }

  .education-card ul li::before {
      content: "• ";
      color: #1a1a73;
      font-weight: bold;
  }

  .education-img {
      width: 250px;
      height: auto;
      border-radius: 12px;

      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

      margin-top: 15px;

      transition: transform 0.3s ease;
  }

  .education-img:hover {
      transform: scale(1.05);

  }

  footer {
      background-color: #131343;
      color: white;
      padding: 20px 0;
      font-size: 0.9rem;
  }

  .footer-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
  }

  .footer-section {
      flex: 1;
      margin: 10px;
      min-width: 200px;
  }

  .footer-section h3 {
      margin-bottom: 10px;
      font-size: 1.1rem;
      border-bottom: 2px solid #c8c8f1;
      padding-bottom: 5px;
  }

  .footer-section ul {
      list-style: none;
      padding: 0;
  }

  .footer-section ul li {
      margin-bottom: 5px;
  }

  .footer-section ul li a {
      color: #c8c8f1;
      text-decoration: none;
  }

  .footer-section ul li a:hover {
      text-decoration: underline;
  }

  .social-icons a {
      display: inline-block;
      margin: 0 10px;
  }

  .social-icons img {
      width: 24px;
      height: 24px;
  }

  .footer-bottom {
      text-align: center;
      margin-top: 20px;
      font-size: 0.8rem;
  }

  .footer-bottom p {
      margin: 0;
  }

  @keyframes fadeIn {
      from {
          opacity: 0;
      }

      to {
          opacity: 1;
      }
  }

 
   .glowing-text {
       font-size: 36px;
       color: #fff;
       text-shadow: 0 0 5px #61dafb, 0 0 10px #61dafb, 0 0 20px #61dafb;
       animation: glowing 2s infinite alternate;
   }

   @keyframes glowing {
       0% {
           text-shadow: 0 0 5px #290ea1, 0 0 10px#61dafb, 0 0 20px #61dafb;
       }

       100% {
           text-shadow: 0 0 20px #61dafb, 0 0 30px #61dafb, 0 0 40px #61dafb;
       }
   }